/* @import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/TlwgTypist/TlwgTypist.css'; */

@import 'https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap';

body {
  /* font-family: 'Tlwg Typist', monospace; */
  font-family: 'Mitr', sans-serif;
  color: white;
  background-color: midnightblue;
}
/* วันที่ */
p {
  font-size: 30px;
  text-align: center;
}

/* นาฬิกา */
.clock {
  font-size: 60px;
  text-align: center;
}

/* ชื่อคาบ */
.periodText {
  font-size: 200px;
  text-align: center;
}

/* ชื่อวิชา */
.subjectName {
  font-size: 60px;
  text-align: center;
}

/* เวลาที่เหลือ */
.coutDownClock {
  font-size: 100px;
  text-align: center;
}

/* ชื่อคาบต่อไป */
.nextSubjectName {
  font-size: 40px;
  color: gray;
  text-align: center;
}

/* Progress bar */
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 15px;
  background-color: white;
}
