@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped.css');
@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/TlwgTypewriter/TlwgTypewriter.css');

.periodText {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 240px;
  color: white;
  text-align: center;
}

.coutDownClock {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 150px;
  color: white;
  text-align: center;
}

.subjectName {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
}

.nextSubjectName {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 40px;
  color: gray;
  text-align: center;
}

.clock {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
}
