@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Noto Sans Thai Looped", sans-serif;
  color: #ffffff;
  background-color: navy;
}

/* วันที่ */
p {
  font-size: 20px;
  text-align: center;
}

/* นาฬิกา */
.clock {
  font-size: 60px;
  text-align: center;
}

/* ชื่อคาบ */
.periodText {
  font-size: 200px;
  text-align: center;
  margin-top: -100px;
  margin-bottom: -50px;
}

/* ชื่อวิชา */
.subjectName {
  font-size: 60px;
  text-align: center;
}

/* เวลาที่เหลือ */
.coutDownClock {
  font-size: 100px;
  text-align: center;
  margin-top: -50px;
}

/* ชื่อคาบต่อไป */
.nextSubjectName {
  font-size: 40px;
  color: rgb(255, 253, 253);
  text-align: center;
}

/* Progress bar */
#myProgress {
  width: 100%;
  background-color: gray;
}

#myBar {
  width: 1%;
  height: 15px;
  background-color: white;
  transition: width 0.5s ease;
}

#output_table {
  font-size: 14px;
}

td:hover {
  background-color: yellow;
  color: black;
}